{% extends 'base.html' %}
{% load static %}
{% block body %}

<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url({% static 'images/slider1.jpg' %});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span>Bora Hotel</span></p>
                                <h2>Reserve Room for Family Vacation</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({% static 'images/slider2.jpg' %});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span>Deluxe Hotel</span></p>
                                <h2>Make Your Vacation Comfortable</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({% static 'images/slider3.jpg' %});">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span>Luxe Hotel</span></p>
                                <h2>A Best Place To Enjoy Your Life</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div class="wrap">
    <div class="container">
        <div class="row">
            <div id="availability" class="header-top">
                <div class="block-17 my-4">
                    <form action="{% url 'home:home_search' %}" method="get" class="d-block d-flex">
                        <div class="fields d-block d-flex">
                            <div class="textfield-search one-third">
                                <input type="text" class="form-control" name='name'
                                    placeholder="Ex: food, service, hotel">
                            </div>
                            <div class="select-wrap one-third">
                                <div class="icon"><span class="fa fa-angle-down"></span></div>
                                <select id="" class="form-control" name="place" placeholder="Keyword search">
                                    <option value="">Where</option>
                                    {% for place in places %}
                                    <option value="{{place}}">{{place}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <input type="submit" class="search-submit btn btn-primary" value="Search">
                    </form>
                </div>
                <p style="margin-right: 70%;">Or browse the highlights</p>
                <p class="browse d-md-flex">

                    {% for category in category %}
                    <span class="d-flex justify-content-md-center align-items-md-center"><a
                            href="{% url 'home:category_filter' category.id %}"><i class="{{category.icon}}"></i>
                            {{category.name}}</a></span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-counter-section" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="{{users_count}}" data-speed="5000"
                    data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Happy Customers</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="{{hotels_count}}" data-speed="5000"
                    data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Hotels</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="{{places_count}}" data-speed="5000"
                    data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Destination Places</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="{{restaurant_count}}" data-speed="5000"
                    data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Restaurant</span>
            </div>
        </div>
    </div>
</div>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row blog">
            <div class="col-6">
                <h3 class="mb-3"><strong>Featured</strong> Destination</h3>
            </div>
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                {% for place in places_list %}
                                <div class="col-md-3">
                                    <a href="#">
                                        <img src="{{place.image.url}}" alt="Image" style="max-width:100%;">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title">{{place.name}}</h4>
                                        <p class="card-text">{{place.property_count}} Listing</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->


                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->

            </div>
        </div>
    </div>

    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-6">-->
    <!--                    <h3 class="mb-3"><strong>Featured</strong> Destination</h3>-->
    <!--                </div>-->
    <!--                <div class="col-6 text-right">-->
    <!--                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">-->
    <!--                        <i class="fa fa-arrow-left"></i>-->
    <!--                    </a>-->
    <!--                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">-->
    <!--                        <i class="fa fa-arrow-right"></i>-->
    <!--                    </a>-->
    <!--                </div>-->
    <!--                <div class="col-12">-->
    <!--                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">-->

    <!--                        <div class="carousel-inner">-->
    <!--                            <div class="carousel-item {% if forloop.first %} active {% endif %}">-->
    <!--                                <div class="row">-->
    <!--                                 {% for place in places_list %}-->
    <!--                                    <div class="col-md-4 mb-3">-->
    <!--                                        <div class="card">-->
    <!--                                            <img class="img-fluid" alt="100%x280" src="{{place.image.url}}">-->
    <!--                                            <div class="card-body">-->
    <!--                                                <h4 class="card-title">{{place.name}}</h4>-->
    <!--                                                <p class="card-text">{{place.property_count}} Listing</p>-->
    <!--                                            </div>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
    <!--                                 {% endfor %}-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
</section>


<div id="featured-hotel" class="fh5co-bg-color">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Featured Hotels</h2>
                </div>
            </div>
        </div>

        <div class="row">
            {% for hotel in hotels_list %}
            <div class="feature-full-1col">
                <div class="image" style="background-image: url({{hotel.image.url}});">
                    <div class="descrip text-center">
                        <p><small>For as low as</small><span>${{hotel.price}}/night</span></p>
                    </div>
                </div>
                <div class="desc">
                    <h3><a href="{{hotel.get_absolute_url}}">{{hotel.name}}</a></h3>
                    <p>{{hotel.description|safe}} </p>
                    <p><a href="{{hotel.get_absolute_url}}" class="btn btn-primary btn-luxe-primary">Book Now <i
                                class="ti-angle-right"></i></a></p>
                </div>
            </div>
            {% endfor %}
            <div class="feature-full-2col">
                {% for hotel in hotels_cable %}
                <div class="f-hotel">
                    <div class="image" style="background-image: url({{hotel.image.url}});">
                        <div class="descrip text-center">
                            <p><small>For as low as</small><span>${{hotel.price}}/night</span></p>
                        </div>
                    </div>
                    <div class="desc">
                        <h3><a href="{{hotel.get_absolute_url}}">{{hotel.name}}</a></h3>
                        <p>{{hotel.description|safe}} </p>
                        <p><a href="{{hotel.get_absolute_url}}" class="btn btn-primary btn-luxe-primary">Book Now <i
                                    class="ti-angle-right"></i></a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<div id="hotel-facilities">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Hotel Facilities</h2>
                </div>
            </div>
        </div>

        <div id="tabs">
            <nav class="tabs-nav">
                {% for hotel_fac in hotel_facilities %}
                <a href="#" class="{% if forloop.first %} active {% endif %}" data-tab="tab{{ forloop.counter }}">
                    <i class="{{hotel_fac.icon}}"></i>
                    <span>{{hotel_fac.name}}</span>
                </a>
                {% endfor %}
            </nav>
            {% for hotel_fac in hotel_facilities %}
            <div class="tab-content-container">
                <div class="tab-content active {% if forloop.first %} show {% endif %}"
                    data-tab-content="tab{{ forloop.counter }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{hotel_fac.image.url}}" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-md-6">
                                <span class="super-heading-sm">{{hotel_fac.option_service}}</span>
                                <h3 class="heading">{{hotel_fac.name}}</h3>
                                <p>{{hotel_fac.description|safe}}</p>
                                <p class="service-hour">
                                    <span>Service Hours</span>
                                    <strong>{{hotel_fac.service_hours_date_from|time:"G:i A"}} -
                                        {{hotel_fac.service_hours_date_to|time:"G:i A"}}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="fh5co-hotel-section">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>Featured Restaurant</h2>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                {% for restaurant in restaurant_list %}
                <div class="col-md-3">
                    <div class="hotel-content" style="width: 109%;">
                        <div class="hotel-grid" style="background-image: url({{restaurant.image.url}});">
                            <div class="price"><small>For as low as</small><span>${{restaurant.price}}/night</span>
                            </div>
                            <a class="book-now text-center" href="{{restaurant.get_absolute_url}}"><i
                                    class="ti-calendar"></i> Book
                                Now</a>
                        </div>
                        <div class="desc">
                            <h3><a href="{{restaurant.get_absolute_url}}">{{restaurant.name}}</a></h3>
                            <div class="start-rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <!--                  <span>8 Rating</span>-->
                            </div>
                            <!-- <p>{{property.description|safe|truncatewords:3}}</p>
                                    <p><i class="fa fa-clock-o"></i> {{property.created_at}}</p> -->
                            <span><i class="fa fa-map-marker"></i> {{restaurant.place}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Happy Customer Says...</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testimony">
                    <blockquote>
                        &ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of
                        charge to the Premium Suite, thanks so much&rdquo;
                    </blockquote>
                    <p class="author"><cite>John Doe</cite></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimony">
                    <blockquote>
                        &ldquo;Me and my wife had a delightful weekend get away here, the staff were so friendly and
                        attentive. Highly Recommended&rdquo;
                    </blockquote>
                    <p class="author"><cite>Rob Smith</cite></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimony">
                    <blockquote>
                        &ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of
                        charge to the Premium Suite, thanks so much&rdquo;
                    </blockquote>
                    <p class="author"><cite>Jane Doe</cite></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Our Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for post in recent_posts%}
            <div class="col-md-4">
                <div class="blog-grid" style="background-image: url({{post.image.url}});">
                    <div class="date text-center">
                        <span><i class="fa fa-rss"></i> ({{forloop.counter}})</span>
                        <small>New</small>
                    </div>
                </div>
                <div class="desc">
                    <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                    <div class="meta mt-5">
                        <div><a href="{{post.get_absolute_url}}">{{post.created_at|date:"F j, Y"}}</a>
                            <a href="{{post.get_absolute_url}}">{{post.author}}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



<div id="newsletter">
    <div class="container">
        <div class="row">
            <div id="main_form_div" class="section-title text-center">
                <h2>Subscribe to our Newsletter</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and<br> Consonantia, there
                    live the blind texts. Separated they live in
                </p>
                <div class="row mt-5">
                    <div class="col-md-6 mx-auto">
                        <form id="newsletter_form" action="{% url 'home:newsletter' %}" class="subscribe-form" method="POST">
                            {% csrf_token %}
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" name="emailInput" placeholder="Enter email address">
                                <input type="submit" value="Subscribe"  class="submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="success_div" style="display:none" class="section-title text-center">
                <h2 style="color: #fff;">Subscribed Successfully</h2>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $("#newsletter_form").submit(function(e){
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
    $.ajax({
        type:'POST',
        url:url,
        data:form.serialize(),
        success:function(data){
            document.getElementById('main_form_div').style.display='none';
            document.getElementById('success_div').style.display='block';
        }
    });
    });
</script>



<script>
    $('#blogCarousel').carousel({
        interval: 5000
    });
</script>
{% endblock body %}