{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<!-- end:fh5co-header -->
		<div class="fh5co-parallax" style="background-image: url(/static/images/slider1.jpg);"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div
						class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Category</h1>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="fh5co-hotel-section">
			<div class="container">
				<div class="row">
                    <div class="col-md-12 mt-2">
						<div class="row">
							{% for property in property_list %}
                                <div class="col">
                                    <div class="hotel-content" style="width: 100%;">
                                        <div class="hotel-grid" style="background-image: url({{property.image.url}});">
                                            <div class="price"><small>For as low as</small><span>${{property.price}}/night</span>
                                            </div>
                                            <a class="book-now text-center" href="{{property.get_absolute_url}}"><i
                                                    class="ti-calendar"></i> Book
                                                Now</a>
                                        </div>
                                        <div class="desc">
                                            <h3><a href="{{property.get_absolute_url}}">{{property.name}}</a></h3>
											  <div class="start-rating">
												<i class="fa fa-star color_star{% if property.avaregereview < 1%}-o empty{% endif%}"></i>
												<i class="fa fa-star color_star{% if property.avaregereview < 2%}-o empty{% endif%}"></i>
												<i class="fa fa-star color_star{% if property.avaregereview < 3%}-o empty{% endif%}"></i>
												<i class="fa fa-star color_star{% if property.avaregereview < 4%}-o empty{% endif%}"></i>
												<i class="fa fa-star color_star{% if property.avaregereview < 5%}-o empty{% endif%}"></i>
												<span>{{ property.avaregereview}} Rating</span>
											</div><hr/>
                                            <!-- <p>{{property.description|safe|truncatewords:3}}</p>
                                            <p><i class="fa fa-clock-o"></i> {{property.created_at}}</p> -->
                                            <span><i class="fa fa-map-marker"></i> {{property.place}}</span>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}    
                                <h5>No Result</h5>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Start Pagination -->
		{% if is_paginated %}
		<nav aria-label="Page navigation" style="text-align: center !important;">
			<ul class="pagination">
				{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<span aria-hidden="true">&laquo;</span>
				</li>
				{% endif %}

				{% for i in paginator.page_range %}
				{% if page_obj.number == i %}
				<li class="page-item"><span class="page-link">{{ i }}</span></li>
				{% else %}
				<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<span aria-hidden="true">&raquo;</span>
				</li>
				{% endif %}

			</ul>
		</nav>
		{% endif %}
		<!-- End Pagination -->
	</div>
</div>
{% endblock body %}