{% extends "base.html" %}
{% load static %}
{% block body %}


<div class="fh5co-parallax" style="background-image: url({% static 'images/slider1.jpg' %});"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div
                class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">Profile</h1>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-6 mx-auto mt-5 mb-5">
        {{profile.user.username}}

        {{profile.user.email}}

        {{profile.phone_number}}

        {{profile.address}}

		<h5><a href="{% url 'accounts:profile_edit' %}">Edit Profile</a></h5>
        <h5><a href="{% url 'password_change' %}">Change Password</a></h5>
        <h5><a href="{% url 'accounts:my_reservation' %}">My Reservation</a></h5>
        <h5><a href="{% url 'accounts:listing' %}">My Listing</a></h5>
    </div>
</div>



{% endblock %}