{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<!-- end:fh5co-header -->
		<div class="fh5co-parallax" style="background-image: url(/static/images/slider1.jpg);"
			data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div
						class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Property Detail</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-5">
			<div class="row">
				<div id="window" class="m-auto">
					<div id="slide-container">
						{% for image in property_images %}
						<div class="slides" style="border: 1px solid #ddd;">
							<!-- First image -->
							<img class="slide" src="{{image.image.url}}">
						</div>
						{% endfor %}

						<a id="previous" class="arrow">&#10094</a>
						<a id="next" class="arrow">&#10095</a>
					</div>
					<div id="dotsContainer"></div>
				</div>

				<section class="ftco-section ftco-degree-bg">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 mx-auto">
								<div class="row">
									<div class="col-md-12 hotel-single mb-5 ftco-animate">
										<span>Our Best hotels &amp; Rooms</span>
										<h2>{{object.name}}</h2>
										<p class="rate mb-5">
											<span class="loc"><a href="#"><i class="icon-map"></i>
													{{object.place}}</a></span>
											<span class="start-rating">
												<i
													class="fa fa-star color_star{% if property.avaregereview < 1%}-o empty{% endif%}"></i>
												<i
													class="fa fa-star color_star{% if property.avaregereview < 2%}-o empty{% endif%}"></i>
												<i
													class="fa fa-star color_star{% if property.avaregereview < 3%}-o empty{% endif%}"></i>
												<i
													class="fa fa-star color_star{% if property.avaregereview < 4%}-o empty{% endif%}"></i>
												<i
													class="fa fa-star color_star{% if property.avaregereview < 5%}-o empty{% endif%}"></i>
												<span>{{ property.avaregereview }} Rating </span>
											</span>
										</p>
										<p>{{object.description|safe}}</p>
									</div>
									<div class="book_room w-100">
										{% if messages %}
										<div class="alert alert-success text-center" role="alert">
											{% for message in messages %}
											{{ message }}
											{% endfor %}
										</div>
										{% endif %}

										{% if object.check_availability ==  'Availability' %}
										<h4> Availability Today </h4>
										{% else %}
										<h4>The Room Is Being Booked , The Reservation {{object.check_availability}}
										</h4>
										{% endif %}
									</div>

									<div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
										<h4 class="mb-5">Check Availability &amp; Booking</h4>
										<form class="form" method="post">
											{% csrf_token %}
											{% bootstrap_form form %}
											{% buttons %}
											<button type="submit" class="btn btn-primary py-3 w-100">Check
												Availability</button>
											{% endbuttons %}
										</form>
									</div>
									<div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
										<div class="row">
											<div class="col-md-6">
												<a href="{% url 'accounts:add_feedback' property.slug %}">
													<button type="button" class="btn btn-primary">Add Review &
														Rating</button></a>
											</div>
										</div>
									</div>
									<div class="col-md-12 hotel-single ftco-animate mb-5 mt-5">
										<h4 class="mb-4">Related Hotels</h4>
										<div class="row">
											{% for property in related %}
											<div class="col-md-4">
												<div class="card_detail">
													<img class="card-img-top" src="{{property.image.url}}" alt="Card image cap" style="height: 19rem;">
													<div class="text p-3">
														<div class="d-flex">
															<div class="one">
																<h3><a href="hotel-single.html">{{property.name}}</a>
																</h3>
																<p class="start-rating">
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 1%}-o empty{% endif%}"></i>
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 2%}-o empty{% endif%}"></i>
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 3%}-o empty{% endif%}"></i>
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 4%}-o empty{% endif%}"></i>
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 5%}-o empty{% endif%}"></i>
																	{{ property.avaregereview }} Rating
																</p>
															</div>
															<hr />
															<div class="two" style="margin-left:20%">
																<span
																	class="price per-price">${{property.price}}<br><small>/night</small></span>
															</div>
														</div>
														<hr>
														<p class="bottom-area d-flex">
															<span><i class="fa fa-map-marker"></i>
																{{property.place}}</span>
															<span class="ml-auto book-now"><a href="{{property.get_absolute_url}}">Book Now</a></span>
														</p>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
									<div class="col-md-12 hotel-single ftco-animate mb-5 mt-5">
										<h4 class="mb-4">Property Feedback</h4>
										<div class="row">
											{% for review in property.property_review.all %}
											<div class="col-md-4">
												<div class="destination">
													<div class="text p-4">
														<div class="d-flex">
															<div class="one">
																<h3><a href="{% url 'accounts:profile' %}">User:
																		{{review.author}}</a></h3>
																<p class="start-rating">Rate:
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 1%}-o empty{% endif%}"></i>
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 2%}-o empty{% endif%}"></i>
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 3%}-o empty{% endif%}"></i>
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 4%}-o empty{% endif%}"></i>
																	<i
																		class="fa fa-star color_star{% if property.avaregereview < 5%}-o empty{% endif%}"></i>
																	<span>{{ property.avaregereview }} Rating </span>
																</p>
															</div>
														</div>
														<p>Create at: {{review.created_at|date:"j/n/Y - g A"}}</p>
														<p>Feedback: {{review.feedback}}</p>

													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>

								</div>

							</div>
						</div> <!-- .col-md-8 -->
					</div>
			</div>
			</section> <!-- .section -->
		</div>

	</div>
</div>

<script>
	var index = 0;

	var slides = document.getElementsByClassName("slides");
	var nextArrow = document.getElementById("next");

	var previousArrow = document.getElementById("previous");

	var place = document.getElementById("place");

	var dotsContainer = document.getElementById("dotsContainer");

	var dotArray = document.getElementsByClassName("dots");

	createDots();
	showSlides(index);

	function createDots() {
		for (i = 0; i < slides.length; i++) {
			var dot = document.createElement("span");
			dot.className = "dots";
			dotsContainer.appendChild(dot);
		}
	}

	function showSlides(x) {
		if (x > slides.length - 1) {
			index = 0;
		}
		if (x < 0) {
			index = slides.length - 1;
		}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
			dotArray[i].className = "dots";
		}

		slides[index].style.display = "block";
		dotArray[index].className += " activeDot";
	}

	nextArrow.onclick = function () {
		index += 1;
		showSlides(index);
	}

	previousArrow.onclick = function () {
		index -= 1;
		showSlides(index);
	}

	dotArray[0].onclick = showSlides(1);
</script>
{% endblock body %}