{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block body %}
<div class="fh5co-parallax" style="background-image: url({% static 'images/slider1.jpg' %});"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div
                class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">LOGIN</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5 mb-5">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary py-3">Login</button>
                {% endbuttons %}
            </form>
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
    </div>
</div>



{% endblock body %}